$periwinkle: #A5B3EA;
$periwinkle-light: #D5DCF6;
$periwinkle-lightest: #EAEDFA;

$cloud: #F3F1EF;
$cloud-light: #FAF9F8;

$sand: #E0D4D2;
$sand-light: #F5F1F0;

$eggplant: #3E2A39;
$eggplant-light: #695363;
$eggplant-dark: #190013;

$poppy: #F4434B;
$poppy-light: #FF7977;

$black: #000;
$gray-1: #707070;
$gray-2: #C4C4C4;
$gray-3: #EBEBEB;
$gray-4: #F5F5F5;
$white: #fff;
